<ul class="navbar-nav flex-column" id="sidebarnav">

    <!-- Getting Started -->
    <li class="navbar-header">
        <h5 class="heading">시작하기</h5>
    </li>
    <li class="nav-item">
        <a href="/php" class="nav-link">PHP소개</a>
    </li>
    <li class="nav-item">
        <a href="/setup" class="nav-link">설치</a>
    </li>
    <li class="nav-item">
        <a href="/setup/console" class="nav-link">콘솔</a>
    </li>
    <li class="nav-item">
        <a href="/setup/env" class="nav-link">환경설정</a>
    </li>

    <li>
        <div class="navbar-border"></div>
    </li>

    <li class="navbar-header">
        <h5 class="heading">기본문법</h5>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/basic">코드작성</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/basic/const">상수</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/basic/variable">변수</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/basic/operator">연산자</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/basic/condition">조건문</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/basic/loop">반복문</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/basic/preprocess">전처리기</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/basic/scope">유효범위</a>
    </li>
    
    <li>
        <div class="navbar-border"></div>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/function">함수</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/function/generator">제너레이터</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/function/annon">익명함수</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/function/variable">가변함수</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/function/builtin">내부함수</a>
    </li>

    <li>
        <div class="navbar-border"></div>
    </li>

    <li class="navbar-header">
        <h5 class="heading">객체지향</h5>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/oop">객체지향</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/oop/extend">상속</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/oop/interface">인터페이스</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/oop/abstract">추상화</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/oop/trait">Trait</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/pettern">디자인패턴</a>
    </li>

    <li>
        <div class="navbar-border"></div>
    </li>

    <li class="navbar-header">
        <h5 class="heading">패키지</h5>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/autoload">오토로딩</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/composer">컴포저</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">라라벨</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/jinyphp">지니PHP</a>
    </li>
    




</ul>