---
layout: default
---
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-lg-3">
          <img src="/img/num2.jpg">
        </div>
        <div class="col-lg-9">
          <h1 class="display-3">데이터베이스 연동</h1>
          <p>Mysql 데이터베이스에 대해서 학습합니다. <br>
          서버사이드 언어 PHP와 연동하여 데이터베이스 연동작업 방법에 대해서 학습니다.</p>
     
      </p>
      <p>
        <a class="btn btn-secondary btn-sm" href="http://www.yes24.com/Product/Goods/58072924?scode=032&OzSrank=20" role="button">Yes24</a>
                    <a class="btn btn-secondary btn-sm" href="#" role="button">교보문고</a>
                    <a class="btn btn-secondary btn-sm" href="#" role="button">알라딘</a>
                    <a class="btn btn-secondary btn-sm" href="#" role="button">인터파크</a>
      </p>
        </div>
      </div>
    </div>
  </div>
  
<!-- Page Content -->
<div class="container">
    <div class="row">

        <!-- Post Content Column -->
        <div class="col-lg-9">
            {{ content }}
        </div>

        <!-- Sidebar Column -->
        <div class="col-md-3">
            {%- include menu.html -%}
        </div>

    </div>
    <!-- /.row -->
</div>
<!-- /.container -->