---
layout: default
---
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron mb-0">
    <div class="container">
      <div class="row">
        <div class="col-lg-3">
          <img src="/img/num1.jpg">
        </div>
        <div class="col-lg-9">
            <h1 class="display-3">PHP</h1>
            <p>PHP는 웹사이트 개발을 위한 서버사이드 언어 입니다.</p>
            <p>php 언어는 1997년 처음으로 세상에 발표되어 현재까지 웹시장에서 가장 사랑을 많이 받는 언어중의 하나입니다.  
                오랜 기간동인 웹시장을 주도하고, 수많은 기업과 웹사이트들이 `php` 언어를 통하여 제작이 되고 있습니다.</p>
            <p>
                <a class="btn btn-secondary btn-sm" href="http://www.yes24.com/Product/Goods/58072924?scode=032&OzSrank=20" role="button">Yes24</a>
                    <a class="btn btn-secondary btn-sm" href="#" role="button">교보문고</a>
                    <a class="btn btn-secondary btn-sm" href="#" role="button">알라딘</a>
                    <a class="btn btn-secondary btn-sm" href="#" role="button">인터파크</a>
            </p>
        </div>
      </div>
    </div>
</div>

<div class="bg-light">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-light">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                {%- for breadcrumb in page.breadcrumb -%}
                <li class="breadcrumb-item active"><a href="#">{{ breadcrumb }}</a></li>
                {%- endfor -%}
            </ol>    
        </nav>
    </div>
</div>
  
<!-- Page Content -->
<div class="container">
    <div class="row">

        <!-- Post Content Column -->
        <div class="col-lg-9">
			<main role="main">
                <section>
                    {{ content }}
                </section>
			</main>
			
			<!--구글 애드센스-->
            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <ins class="adsbygoogle"
                style="display:block"
                data-ad-format="fluid"
                data-ad-layout-key="-fb+5w+4e-db+86"
                data-ad-client="ca-pub-3321560028329475"
                data-ad-slot="6043271504"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
            
        </div>

        <!-- Sidebar Column -->
        <div class="col-md-3">
			<aside>
				{%- include menu.html -%}
			</aside>			
			
			<!--구글 애드센스2-->
            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <ins class="adsbygoogle"
                style="display:block"
                data-ad-format="fluid"
                data-ad-layout-key="-ef+6k-30-ac+ty"
                data-ad-client="ca-pub-3321560028329475"
                data-ad-slot="7661682925"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
            
        </div>

    </div>
    <!-- /.row -->
</div>
<!-- /.container -->