---
layout: bootstrap
---

<div class="container">
    <!-- 점보트론 -->
    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">모던 PHP 프로그래밍</h1>
            <p class="col-md-8 fs-4">PHP 언어를 통해 절차적 프로그래밍부터 모던 객체지향 및 패키지 개발까지의 핵심 개념을 학습합니다.</p>
        </div>
    </div>

    <!-- 주요학습 -->
    <div class="row align-items-md-stretch">
        <div class="col-md-4 mb-4">
            <div class="h-100 p-5 text-white bg-dark rounded-3">
                <h2>PHP 기초</h2>
                <p>PHP의 설치, 환경설정, 기본 변수, 제어문 등 핵심 문법을 학습합니다.</p>
                <a class="btn btn-outline-light" href="/basic">이동하기</a>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="h-100 p-5 bg-light border rounded-3">
                <h2>함수</h2>
                <p>사용자 정의 함수 작성, 익명 함수, 제너레이터 등 절차적 설계 방식을 학습합니다.</p>
                <a class="btn btn-outline-secondary" href="/function/function">이동하기</a>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="h-100 p-5 text-white bg-dark rounded-3">
                <h2>객체지향</h2>
                <p>모던 PHP의 핵심 개념인 클래스, 인터페이스, 네임스페이스, 예외처리를 학습합니다.</p>
                <a class="btn btn-outline-light" href="/oop/class">이동하기</a>
            </div>
        </div>

        <div class="col-md-6 mb-4">
            <div class="h-100 p-5 bg-light border rounded-3">
                <h2>패키지 관리</h2>
                <p>Composer를 활용한 패키지 오토로딩 및 배포, 그리고 JinyPHP 프레임워크를 다룹니다.</p>
                <a class="btn btn-outline-secondary" href="/composer">이동하기</a>
            </div>
        </div>
        <div class="col-md-6 mb-4">
            <div class="h-100 p-5 text-white bg-dark rounded-3">
                <h2>디자인 패턴</h2>
                <p>코드 재사용성과 확장성을 높이기 위한 설계 디자인 패턴을 연결하여 학습합니다.</p>
                <a class="btn btn-outline-light" href="https://pattern.jiny.dev" target="_blank">이동하기</a>
            </div>
        </div>
    </div>

</div>


<div class="container bd-gutter mt-3 my-md-4 bd-layout">
    <aside class="bd-sidebar scrollBar d-lg-none">
        <div class="offcanvas-lg offcanvas-start" tabindex="-1" id="bdSidebar"
            aria-labelledby="bdSidebarOffcanvasLabel">
            <div class="offcanvas-header border-bottom">
                <h5 class="offcanvas-title" id="bdSidebarOffcanvasLabel">학습목차</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"
                    data-bs-target="#bdSidebar"></button>
            </div>

            <div class="offcanvas-body">
                <!-- 네비게이션 -->
                {% include nav.html %}
            </div>
        </div>
    </aside>

    <main class="bd-main order-1 flex-grow-1">
        <div class="container py-4">


            <!-- 학습 목차 -->
            {{ content }}


            <div class="mt-10">
                <!-- 구글 에스센스 광고 -->
                <script async
                    src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3321560028329475"
                    crossorigin="anonymous"></script>
                <!-- jinydev-java -->
                <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-3321560028329475"
                    data-ad-slot="9323221865" data-ad-format="auto" data-full-width-responsive="true"></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </div>


        </div>
    </main>
</div>