<!DOCTYPE html>
<html lang="{{site.lang}}">
    <head>
        {%- include head.html -%}
    </head>
    <body>
        {%- include header.html -%}

        <!-- Page Content -->
        <div class="container">
            <!-- Page Heading/Breadcrumbs -->
            {%- if page.title1 -%}
            <h1 class="mt-4 mb-3"> 
                {{ page.title1 }}
                {%- if page.subtitle1 -%}
                    <small>{{ page.subtitle1 }}</small>
                {%- endif -%}
            </h1>
            {%- endif -%}

            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{{site.home}}">Home</a>
                </li>
            </ol>
    
            {{ content }}
        </div>
        
        {%- include footer.html -%}

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <!-- Popper JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    </body>

</html>